@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declarations for Caros font */
@font-face {
  font-family: 'Caros';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  src: local('Caros Regular'), url('/fonts/cretype Caros.woff') format('woff');
}

@font-face {
  font-family: 'Caros';
  font-style: italic;
  font-weight: 400; /* Italic weight */
  src: local('Caros Italic'), url('/fonts/cretype Caros Italic.woff') format('woff');
}

@font-face {
  font-family: 'Caros';
  font-style: normal;
  font-weight: 100; /* Thin weight */
  src: local('Caros Thin'), url('/fonts/cretype Caros Thin.woff') format('woff');
}

@font-face {
  font-family: 'Caros';
  font-style: normal;
  font-weight: 500; /* Medium weight */
  src: local('Caros Medium'), url('/fonts/cretype Caros Medium.woff') format('woff');
}

@font-face {
  font-family: 'Caros';
  font-style: normal;
  font-weight: 700; /* Bold weight */
  src: local('Caros Bold'), url('/fonts/cretype Caros Bold.woff') format('woff');
}

/* Add other @font-face declarations here as needed */

/* Apply the font globally */
body {
  font-family: 'Caros', sans-serif; /* Default font for the website */
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.custom-dot .dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 0, 0, 0.505); /* You can change the color here */
  border-radius: 60%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.37); /* Optional shadow */
}

.background-image {
  background-image: url('/bg.jpeg');
  background-size: contain;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}